mixin PrintEvent(e)
  .card
    .panel
      .field 
        span.label Localtime:
        span.value= e.localtime
      .field 
        span.label Source:
        span.value= e.source
      .field 
        span.label Equipment:
        span.value= e.equip
      .field 
        span.label Code:
        span.value= e.code
      .field 
        span.label Occurrences:
        span.value= e.occurrences
      .field 
        span.label Active:
        span.value= e.active
    .field 
      span.label Description:
      span.value= e.description
mixin PrintEvents(ee)
  .card.list
    .card-title Events
    each event in ee.events[0].event
      +PrintEvent(event)

mixin PrintZoneStatus(zs)
  div.card
    .card-title Zone #{zs.$.id}
    div 
      span Real Temperature: 
      span= zs.rt 
    div 
      span Hold: 
      span= zs.hold 
    div 
      span Heat Setpoint 
      span= zs.htsp
    div 
      span Cold Setpoint: 
      span= zs.clsp
    div 
      span Period: 
      span= zs.period
    div 
      span Damper: 
      span= zs.damper
    div 
      span Heat Icon: 
      span= zs.heaticon
    div 
      span Cool Icon: 
      span= zs.coolicon
    div 
      span Fan Icon: 
      span= zs.fanicon

mixin PrintStatus(s)
  div.card
    .card-title Status
    div 
      span Outside Air Temperature: 
      span= s.oat
    div 
      span Mode: 
      span= s.mode 
    div 
      span Fan: 
      span= s.fan 
    div 
      span Filter Level: 
      span= s.filtrlvl 
    div 
      span Service Level: 
      span= s.servicelvl 
    div 
      span Relative Humidity: 
      span= s.rh 
    div 
      span lat?
      span= s.lat 
    div 
      span Day: 
      span= s.day
  each zone in s.zones
    +PrintZoneStatus(zone.zone[0])

mixin PrintDevZone(z)
  div.card
    div 
      span Name:
      span= z.name 
    div 
      span Hold: #{z.hold}

mixin PrintDevConfig(c)
  div.card
    .card-title Config 
    div 
      span Mode: 
      span= c.mode
    div 
      span Fan:
      span= c.fan
    div 
      span Time Format:
      span= c.timeFormat
    div 
      span Daylight Savings Time:
      span= c.dst
    div 
      span Volume:
      span= c.volume
    div 
      span Sound Type:
      span= c.soundType
    div 
      span Screen Lockout:
      span= c.scrLockout
    div 
      span Lockout Code:
      span= c.scrLockoutCode
    div 
      span Humidity Setpoint:
      span= c.humSetpoint
    div 
      span Dehumidity Setpoint:
      span= c.dehumSetpoint
    div 
      span Screen Brightness:
      span= c.blight
    each zone in c.zones
      +PrintDevZone(zone.zone[0])

mixin PrintDevSystem(s) 
  div.card
    .card-title System
    +PrintDevConfig(s.config[0])


mixin PrintDevDetails(dev)
  .card
    .card-title Device #{dev.system_profile.serial}
    .panel 
      +PrintDevSystem(dev.system)
      +PrintStatus(dev.status)
      +PrintEvents(dev.equipment_events)

mixin PrintHubStatus(hub)
  .card
    .card-title Hub Status
    .panel
      .field
        span.label Hub Version:
        span= hub.version
      .field 
        span.label Software Version: 
        span= hub.status.version
      .field 
        span.label Timestamp: 
        span= hub.status.timestamp
      .card
        .card-title Ping Rates
        .panel
          .field 
            span.label Status Rate: 
            span= hub.status.pingRate
          .field 
            span.label Dealer Config: 
            span= hub.status.dealerConfigPingRate
          .field 
            span.label Weather: 
            span= hub.status.weatherPingRate
          .field 
            span.label Equipment Events: 
            span= hub.status.equipEventsPingRate
          .field 
            span.label History Events: 
            span= hub.status.historyEventsPingRate
          .field 
            span.label IDU Events: 
            span= hub.status.iduEventsPingRate
          .field 
            span.label ODU Events: 
            span= hub.status.oduEventsPingRate
      .card 
        .card-title Changed
        .panel
          .field 
            span.label Config: 
            span= hub.status.configHasChanges
          .field 
            span.label Dealer Config: 
            span= hub.status.dealerConfigHasChanges
          .field 
            span.label ODU: 
            span= hub.status.oduConfigHasChanges
          .field 
            span.label IDU: 
            span= hub.status.iduConfigHasChanges
          .field 
            span.label Utility: 
            span= hub.status.utilityEventsHasChanges
      .card
        .card-title Known Devices
        .panel
          each active, name in hub.known_devices 
            .field 
              span #{name} (#{active? 'active': 'inactive'})
    

html 
  head 
    style.
    
      .panel {
        display: flex;
        flex-wrap: wrap;
      }

      .field {
        margin: .3em .2em;
      }

      .label {
        font-weight: 700;
      }

      .card {
        border-radius: .2em;
        overflow: hidden;
        position: relative;
        margin: 2px;
        background-color: rgba(100,100,100,.1)
      }

      .card-title {
        background-color: #606060;
        color: #f0f0f0;
        padding: .2em;
      }

      .list {
        display: flex;
        flex-direction: column;
      }

  body.list 
    +PrintHubStatus(hub)
    each dev, name in devices
      div 
        +PrintDevDetails(dev)