html 
  head 
    style.
      .controls {
        display: flex;
        gap: 1em;
      }

      .button {
        text-decoration: none;
        padding: .2em .5em;
        color: auto;
        border: 1px solid black;
        border-radius: .1em;

      }

      #sp {
        font-size: 1.5em;
      }

  body 
    div #{oat}° Outside
    div #{iat}° Inside 
    div.controls
      a.button(href=`/thermostat/${deviceId}/toggleHold`) #{hold? "HOLDING": "AUTO"}
      a.button(href=`/thermostat/${deviceId}/tempDown`) Down 
      span#sp #{sp}°
      a.button(href=`/thermostat/${deviceId}/tempmUp`) Up
    div 
      if(command)
        span.feedback= message